* {

  margin: 0;
  padding: 0;
}

.page {
  padding: 0.5rem;  
  display: flex;
  justify-content: center; 
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%;
  max-width: 1000px;     
         
}